div {
  text-align: center;
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 300px;
}

li {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  cursor: pointer;
}